<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('payment.static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('payment.static', filename='css/animate.css')}}">
    <link rel="stylesheet" href="{{ url_for('payment.static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('payment.static', filename='css/responsive.css')}}">
	<title>MTProxy</title>
  </head>
  <body>
		<section class="navbar navbar-expand-lg">
			<div class="container">
			  <a class="navbar-brand text-center" href="#">MTPROXY<br>Shop</a>
			</div>
		</section>
		 <!-- info Section -->
		<section class="section pt-5 mb-300" style="min-height: 400px;">
		  <div class="container">
			<div class="row justify-content-center">
			  <div id="event" class="col-lg-10">
                {% block content %}{% endblock %}
			  </div>
			</div>
		  </div>
		</section>
		<!-- End info Section -->

		<!-- footer Section Start -->
		<footer>
		  <div class="footer">
			<div class="container">
			  <div class="row">
				<div class="col-md-2">
					<div class="navbar-brand text-center mb-3">MTPROXY<br>Shop</div>
				</div>
				<div class="col-md-10 col-lg-3">
					<ul class="footer-links">
						<li><a href="https://mtproxy.shop/terms.html">Terms and conditions</a></li>
						<li><a href="https://mtproxy.shop/privacy.html">Privacy policy</a></li>
						<li><a href="mailto:contact@mtproxy.shop">Contact us</a></li>
					</ul>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="sub-footer">
			  <div class="container">
				<div class="row">
				  <div class="col-md-12">
					<div class="copyright">
					  <p>&copy; 2018 Copyright. All right reserved.</p>
					</div>
				  </div>
				</div>
			  </div>
		  </div>
		</footer>
		<!-- Footer Section End -->

    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>
	<!-- Scripts -->
    <script src="{{ url_for('payment.static', filename='js/jquery-3.3.1.min.js')}}"></script>
	<script src="{{ url_for('payment.static', filename= 'js/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('payment.static', filename= 'js/wow.js')}}"></script>
	<script src="{{ url_for('payment.static', filename= 'js/main.js') }}"></script>
  </body>
</html>