{% extends 'base.html' %}

{% block content %}
        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="business" value="xazrad-facilitator@yandex.ru">
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="item_name" value="Rent MTProxy Service">
            <input type="hidden" name="no_shipping" value="1">
            <input type="hidden" name="amount" value="249.00">
            <input type="hidden" name="currency_code" value="RUB">
            <input type="hidden" name="custom" value="{{ custom }}">
            <input type="hidden" name="notify_url" value="https://get-mtproxy.sgtel.win/p/paypal/ipn/test/">
            <input type="image" src="https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!">
            <img alt="" border="0" src="https://www.paypalobjects.com/ru_RU/i/scr/pixel.gif" width="1" height="1">
        </form>
{% endblock %}
