{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{ _('Server deleted or not yet created.') }}</h4>
        <p>{{ _('Try it again!') }}</p>
    </div>
{% endblock %}
