{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">{{ _('The task is queued. Please wait.') }}</h4>
        <p>{{ _('You will receive the connection settings by email.') }}</p>
    </div>
{% endblock %}
