{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{ _('Order not found') }}</h4>
        <p>{{ _('Order not yet created or already deleted.') }}</p>
    </div>
{% endblock %}