{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{ _('Your order is in progress') }}</h4>
        <p>{{ _('Your server is being installed.') }}</p>
    </div>
{% endblock %}
