{% extends "email.html" %}

{% block header %}
    {{ _('Your MTProxy is almost ready!') }}
{% endblock %}

{% block message %}
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('Hello') }}.</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('We are very glad that you have used our service.') }} {{ _('Please, confirm MTProxy server order.') }}</p>
{% endblock %}

{% block button %}
    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; border-radius: 0px; text-align: center; background-color: #FF8900;" valign="top" align="center" bgcolor="#FF8900">
        <a href="{{ url }}" target="_blank" style="border: solid 1px #FF8900; border-radius: 0px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 10px 20px; text-decoration: none; text-transform: capitalize; background-color: #FF8900; border-color: #FF8900; color: #ffffff;">
            {{ _('Confirm') }}</a> </td>
{% endblock %}
