{% extends "email.html" %}

{% block header %}
    {{ _('A free trial period is expired.') }}
{% endblock %}

{% block message %}
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('Hello') }}.</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('The server will be deleted.') }}.</p>
	<table class="param" style="margin: 30px auto; border-collapse: collapse;">
        <tbody>
        <tr style="border-bottom: 1px solid #e9ecef;">
            <td style="padding: 5px">IP:</td>
            <td style="padding: 5px">{{ ip }}</td>
        </tr>
        <tr style="border-bottom: 1px solid #e9ecef;">
            <td style="padding: 5px">Port:</td>
            <td style="padding: 5px">{{ port }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
