{% extends "email.html" %}

{% block header %}
    {{ _('Your server is installed.') }}
{% endblock %}

{% block message %}
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('Hello') }}.</p>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('Server Connection Settings.') }}</p>
	<table class="param" style="margin: 30px auto; border-collapse: collapse;">
        <tbody>
        <tr style="border-bottom: 1px solid #e9ecef;">
            <td style="padding: 5px">IP:</td>
            <td style="padding: 5px">{{ ip }}</td>
        </tr>
        <tr style="border-bottom: 1px solid #e9ecef;">
            <td style="padding: 5px">Port:</td>
            <td style="padding: 5px">{{ port }}</td>
        </tr>
        <tr style="border-bottom: 1px solid #e9ecef;">
            <td style="padding: 5px">Secret Key:</td>
            <td style="padding: 5px; font-size: 14px !important;">{{ secret_key }}</td>
        </tr>
        </tbody>
    </table>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('Link for automatic configuration') }}
        {% if commit %}
            <b>Telegram: </b><a style="color: #0088cc; font-size: 14px !important;" href="https://t.me/proxy?server={{ ip }}&port={{ port }}&secret=dd{{ secret_key }}">
                https://t.me/proxy?server={{ ip }}&port={{ port }}&secret=dd{{ secret_key }}</a>
        {% else %}
            <b>Telegram: </b><a style="color: #0088cc; font-size: 14px !important;" href="https://t.me/proxy?server={{ ip }}&port={{ port }}&secret={{ secret_key }}">
                https://t.me/proxy?server={{ ip }}&port={{ port }}&secret={{ secret_key }}</a>
        {% endif %}
    </p>
{% endblock %}

{% block table %}
    <table border="0" cellpadding="0" cellspacing="0" class="btn telegram" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; box-sizing: border-box; width: 100%;" width="100%">
        <tbody>
        <tr>
            <td>
                <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('Server management via bot.') }}</p>
            </td>
        </tr>
        <tr>
            <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                    <tbody>
                    <tr>
                        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; border-radius: 0px; text-align: center; background-color: #0088cc;" valign="top" align="center" bgcolor="#FF8900">
                            <a href="https://mtproxy.shop/bot?s={{ payload }}" target="_blank" style="border: solid 1px #0088cc; border-radius: 0px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 10px 20px; text-decoration: none; background-color: #0088cc; border-color: #0088cc; color: #ffffff;">
                                {{ _('Connect Telegram Bot') }}</a> </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('You can pay for the server within 20 minutes') }}</p>
    <table border="0" cellpadding="0" cellspacing="0" class="btn" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; box-sizing: border-box; width: 100%;" width="100%">
        <tbody>
        <tr>
            <td align="left" style="font-family: sans-serif; font-size: 14px; vertical-align: top; padding-bottom: 15px;" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: auto;">
                    <tbody>
                    <tr>
                        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; border-radius: 0px; text-align: center;" valign="top" align="center">
                            <a href="{{ processing_url_paypal }}" target="_blank" style="border: solid 1px; border-radius: 0px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 10px 20px; text-decoration: none; color: #ffffff;">
                            <img src="cid:pp.gif" alt="Paypal"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; border-radius: 0px; text-align: center;" valign="top" align="center">
                            или
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: sans-serif; font-size: 14px; vertical-align: top; border-radius: 0px; text-align: center;" valign="top" align="center">
                            <a href="{{ processing_url_crypto }}" target="_blank" style="border: solid 1px; border-radius: 0px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 10px 20px; text-decoration: none; color: #ffffff;">
                            <img src="cid:cp.jpg" alt="Crypto" width="150"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
