{% extends "email.html" %}

{% block header %}
    {% if error %}
        {{ _('Paid invalid invoice.') }}
    {% else %}
        {{ _('Rent has been extended for 30 days.') }}
    {% endif %}
{% endblock %}

{% block message %}
    {% if error %}
        <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">{{ _('Contact Support.') }}.</p>
    {% endif %}
	<table class="param" style="margin: 30px auto; border-collapse: collapse;">
        <tbody>
        <tr style="border-bottom: 1px solid #e9ecef;">
            <td style="padding: 5px">IP:</td>
            <td style="padding: 5px">{{ ip }}</td>
        </tr>
        <tr style="border-bottom: 1px solid #e9ecef;">
            <td style="padding: 5px">Port:</td>
            <td style="padding: 5px">{{ port }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
