@media (min-width: 768px) and (max-width: 991px) {
  #header-area .contents h1 {
    font-size: 28px;
  }
  .item-boxes h4 {
    font-size: 18px;
  }
  .pricing-table .pricing-details ul li {
    font-size: 12px;
  }
  
  
}

/* mobile or only mobile */
@media (max-width: 767px) {
  .section-header .section-title {
    font-size: 1.75rem;
  }
  #header-area .contents {
    padding: 20px 0 80px;
  }
  #header-area .contents h1 {
    font-size: 28px;
    line-height: 30px;
  }

  .info .info-content h2 {
    font-size: 28px;
  }
  
  .footer-links li a {
    margin-right: 10px;
  }
  .copyright {
    float: left;
  }
  footer {
  background: #343a40;
  color: #fff;
  position: relative;
  padding: 80px 0 0 0;
  }
  .mb-300 {
  margin-bottom: 0px;
  }
}

