@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&subset=cyrillic');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}


body {
  font-family: 'Rubik', sans-serif;
  color: #4A4A4A;

}

h1, h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif;
}

a {
 /*  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; */
  color: #0580BC;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #07a0ed;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

input {
 	
}

.form-control {
    border-radius: 0px;
	padding: 10px ;
}

.section {
  padding: 80px 0;
}

.section-header {
  color:#4A4A4A;
  margin-bottom: 40px;
  text-align: center;
}

.section-header .section-title {
  margin-top: 0;
  position: relative;
}

.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #0580BC;
  margin-top: 15px;
}
/* ==========================================================================
  Buttons
   ========================================================================== */
.btn {
  font-size: 1rem;
  padding: 10px 35px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  border: 1px solid #0580BC;
  background: #0580BC;
  position: relative;
  color: #fff;
  z-index: 1;

}

.btn-common:hover {
  color: #fff;
  background: #07a0ed;
  border-color: #07a0ed;
  transition: all .30s ease-in-out;
  -moz-transition: all .30s ease-in-out;
  -webkit-transition: all .30s ease-in-out;
}

/* ==========================================================================
	  Pre Loader
	 ========================================================================== */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999999;
}

.spinner {
  width: 40px;
  height: 40px;
  top: 45%;
  position: relative;
  margin: 0px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0580BC;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* ==========================================================================
  Navbar Style
   ========================================================================== */
.navbar-brand {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
	padding-left: .75rem;
	padding-right: .75rem;
    margin-right: 1rem;
    font-size: 0.85rem;
	font-weight: 500;
	background-color: #0580BC;
	color: #fff;
}

.navbar {
    padding: 2rem 1rem;
}

.nav-link {
    color: #fff;
}

.nav-link:focus, .nav-link:hover {
 /* color: #0580BC;*/
  /*background-color: #fff;*/
  color: #fff;
  border-bottom: 1px solid #fff;
}

.navbar > .container, .navbar > .container-fluid {
    -ms-flex-align: start;
    align-items: start;
    -ms-flex-pack: justify;
}
.navbar-brand:focus,.navbar-brand:hover {
	color: #fff;
}   


.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus {
  color: #89D0F2;
}



/* ==========================================================================
   Head Area
   ========================================================================== */
#header-area {
  background: url(../img/header-area2.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
  position: relative;
  color: #fff;
}


#header-area .contents {
  padding: 70px 0 170px;
}

#header-area .contents h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 25px;
}

#header-area .contents p {
  font-size: 1rem;
}

/* #header-area .contents .btn {
  width:100%;
  height: 48px;
}

#header-area .banner_bottom_btn {
  margin-top: 40px;
} */

#header-area .banner_bottom_btn i:hover {
  color: #61D2B4;
}


/* ==========================================================================
  info Style
   ========================================================================== */
.info {
  overflow: hidden;
  position: relative;
}

.info .info-content p {
  margin-bottom: 30px;
}

/* ==========================================================================
  Services section
   ========================================================================== */
#services{
	background: #0580BC;
	color: #fff;
}
#services .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #fff;
  margin-top: 15px;
}

.item-boxes {
  text-align: center;
  padding: 0px 15px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-boxes .icon {
  display: inline-block;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.item-boxes img {
    width: 70px;
    height: 70px;
}


.item-boxes h5 {
   margin-bottom: 20px;
}

.item-boxes:hover .icon {
  background: #0580BC;
}

.item-boxes:hover img {
  color: red; fill: red;
}


/* ==========================================================================
  Pricing Table
	========================================================================== */
.pricing-table {
  padding: 0px 0px 20px 0px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: transparent;
  text-align: center;
  background-color: #FFFFFF;
  border: 1px solid #f1f1f1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.pricing-table:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.pricing-table .pricing-details h2 {
  font-size: 23px;
  margin-bottom: 40px;
  background: #f1f1f1;
  padding: 30px 10px;
}

.pricing-details{
	margin-bottom: 70px;
}
.pricing-table .pricing-details span {
  display: inline-block;
  font-size: 6rem;
  font-weight: 400;
  color: #0580BC;
  line-height: 1;
}

sup {
	font-size: 23px;
	top: -2.2em;
}

sub {
	font-size: 23px;
	bottom: 0em;
}


/* ==========================================================================
  Footer
  ========================================================================== */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #343a40;
	color: #fff;
	padding: 80px 0 0 0;
}
 
/* footer {
  background: #343a40;
  color: #fff;
  position: relative;
  padding: 80px 0 0 0;
} */

.footer-links {
  line-height: 30px;
}

.footer-links li a {
  color: #fff;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  text-decoration:none;
}

.footer-links li a:hover {
  color: #07a0ed;
}

.copyright {
  margin-top: 10px;
  float: left;
}


.sub-footer {
  background: #292f35;
  padding: 10px 0;
  margin-top: 80px;
}
.mb-300 {
margin-bottom: 300px;
}